@import "./custom_colors";

.header {
    height: 50px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.timerlink {
    text-decoration: none;
    color: $custom-grey-darker;
}

.searchbox {
    display: flex;
    border-color: $custom-grey-darker;
    height: 20px;
    width: 250px;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    padding-left: 5px;
    padding-top: 5px;

    form{
        width: 96%;
    }

    .input {
        position: relative;
        top: -4px;
        font-size: 15px;
        font-weight: 400;
        width: 95%;
        margin-left: 5px;
        border: none;
        border-radius: 50px;
        height: 20px;
        margin-bottom: 5px;
        background-color: transparent;
    }

    .input:focus {
        border: none;
        box-shadow: 0 0 0 0;
        outline: 0;
    }
}

.timer {
    font-size: 25px;
    font-weight: 300;
}

@media (max-width: 800px) {
    .timer {
        margin-right: 30px;
    }

    .header {
        padding-right: 20px;
    }

    .searchbox {
        width: 100%;
    }
}