@import "./custom_colors";


.general {
    display: block;
    height: auto;
    padding-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    width: 100%;
}

.sideText {
    width: 30vw;
    margin-right: 5vw;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.printDiv {
    width: 50vw;
}

.print {
    width: 100%;
}

.mapContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    width: 100vw;
    position: absolute;
    margin-top: 90px;
    top: 0;
    overflow: hidden;
}

.mapGeneral {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    overflow: hidden;
}

.height100 {
    height: calc(100vh - 180px);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 330px;
    height: auto;
}

.noImageBox {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .first {
        align-self: flex-start;
        width: 40vw;
        text-align: left;
    }

    .second {
        width: 40vw;
        align-self: flex-end;
        text-align: right;
    }

}

.noPadding {
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.hoverable {
    opacity: 0;
}

.hoverable:hover {
    opacity: 100;
}

.link {
    text-decoration: none;
    color: $custom-grey-darker;
}

.mapItem {
    font-size: 25px;
}

.mapItensContainer {
    width: 75vw;
    height: auto;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

.map {
    height: auto;
    width: 60vw;
}

.image {
    height: 350px;
    width: auto;
    margin-bottom: 20px;
}

.button {
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: $custom-grey;
    background-color: $custom-grey-darker;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border-color: $custom-grey;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    align-self: flex-start;
}

.button:hover {
    background-color: $custom-grey-dark;
    border-color: $custom-grey-darker;
}

.black {
    background-color: $custom-grey-darker;
}

.hidden {
    opacity: 0%;
    cursor: pointer;
}

.info {
    padding-bottom: 20px;
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    color: $custom-grey-darker;
}

.textCenter {
    text-align: center;
}

.marginTop5 {
    margin-top: 5vh;
}

#rj {
    width: 330px;
    height: 350px;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer {
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    display: flex;
    padding-top: 15px;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 40px;
    background-color: #fff;
    .button{
        margin-left: 10%;
    }
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
    }

    .row {
        flex-direction: column;
        width: 90vw;
    }

    .box {
        height: fit-content;
        margin-bottom: 10px;
    }

    .imgcontainer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .map {
        width: 85vw;
    }

    .mapItensContainer {
        width: 85vw;
        height: auto
    }

    .mapItem {
        font-size: 20px;
    }

    .hoverable {
        opacity: 100;
    }

    .info {
        font-size: 18px;
    }

    .link {
        color: $custom-grey-dark;
    }

    .noImageBox {
        height: fit-content;
        width: 95vw;
        align-items: center;

        .first,
        .second {
            align-self: center;
            width: 90vw;
        }
    }

    .footer {
        align-items: center;
    }

    .sideText {
        width: 95vw;
        margin-right: 0;
    }
}

@media (max-height:530px) {
    .container {
        padding-top: 200px;
    }

}

@media (max-width: 425px) {
    .container {
        margin-top: 90px;
    }
}